.h1,
h1 {
    font-size: 26px;
    line-height: 32px;
}

.h2,
h2 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
}

.h3,
h3 {
    font-size: 23px;
    line-height: 24px;
    margin-bottom: 20px;
}

.h4,
h4 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 15px;
}

.h5,
h5 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}

.h6,
h6 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
}
