<fieldset>
  <legend class="rm-content-title mb-0">{{ text_captcha }}</legend>
  <div class="form-group required">
    {% if route|slice(0, 9) == 'checkout/' %}
    <label class="rm-control-label captcha-control-label" for="input-payment-captcha">{{ entry_captcha }}</label>
    <input type="text" name="captcha" id="input-payment-captcha" class="form-control" autocomplete="off" />
    <img src="index.php?route=extension/captcha/basic/captcha" alt="" />
    {% else %}
	<label class="rm-control-label captcha-control-label" for="input-captcha">{{ entry_captcha }}</label>
	<input type="text" name="captcha" id="input-captcha" class="form-control mb-3" />
	<img src="index.php?route=extension/captcha/basic/captcha" alt="" />
	{% if error_captcha %}
	<script>
		rmNotify('danger', '{{ error_captcha }}');
	</script>
	{% endif %}
    {% endif %}
  </div>
</fieldset>
